<!-- Librerias Maps y Chars -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv8h4CEkrFfKWwA_shsXs7uH3zAdLGQRo" async defer></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Contenido -->
<div class="jumbotron">
	<h1 align="center", style="margin-bottom: 40px; margin-top: 10px;">Mapas Temáticos</h1>
	<p align="center", style="margin-bottom: 40px;">Es una aplicación sencilla para generar mapas estadísticos utilizando los datos que puedas subir.</p>

	<div class="span4 offset4 text-center">
  	<button class="btn1 btn-primary btn-lg", style="margin-top: 25px" onclick="myFunctionJS()" id="btnMyModal">Comenzar</button>
  </div>

<%= form_tag({controller: 'static_pages', action: 'maps'}, method: 'post', multipart: 'true') do %>
	<!-- Ventana modal 1 Configuración mapa -->
	<div id="myModal1" class="modal" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
					<h4 class="modal-title">Paso 1/3: Configuración del mapa</h4>
				</div>
				<div class="modal-body">
					<h4 class=>Tipo de mapa</h4>
					<div style="padding-left:30px; margin-bottom: 10px;">
						<input type="radio" name="tipo" value="roadmap"> Hoja de Ruta <br>
						<input type="radio" name="tipo" value="satellite"> Satélite <br>
						<input type="radio" name="tipo" value="hybrid"> Híbrido <br>
						<input type="radio" name="tipo" value="terrain"> Terreno
					</div>
					<h4 class=>Búsqueda de localización</h4>
					<div class="input-group">
						<input type="text" name="localizacion" class="form-control" placeholder="Introduzca país o ciudad" aria-describedby="basic-addon1" id="pais">
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal" id="btnCloseModal">Cerrar</a>
					<a href="#" class="btn btn-primary" data-toggle= "modal" onclick="changeModalWindow('myModal1','myModal2')" data-target="#myModal2">Siguiente</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Ventana modal 2 Configuración estadísticas -->
	<div id="myModal2" class="modal" style="display:none" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal" id="btnCloseModal2" aria-hidden="true">&times;</a>
					<h4 class="modal-title">Paso 2/3: Configuración de los gráficos</h4>
				</div>
				<div class="modal-body">
					<h4 class=>Título del gráfico</h4>
					<div class="input-group">
						<input name="titulo" type="text" class="form-control" placeholder="Introduzca el título del gráfico" aria-describedby="basic-addon1">
					</div>
					<h4 class=>Tipo de gŕafico</h4>
					<select class="form-control" name="grafico">
						<option disabled selected>Elija una opción</option>
						<option value="columnchart">Gráfico de columnas</option>
						<option value="barchart">Gáfico de barras</option>
						<option value="piechart">Gráfico circular</option>
						<option value="linechart">Gráfico de lineas</option>
					</select>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-default" onclick="changeModalWindow('myModal2','myModal1')" data-dismiss="modal" id="btnAtrasModal2">Atrás</a>
						<a href="#" class="btn btn-primary" data-toggle= "modal" id="btnSiguienteModal2" onclick="changeModalWindow('myModal2','myModal3')" data-target="#myModal3">Siguiente</a>
					</div>
				</div>
			</div>
		</div>

	<!-- Ventana modal 3 Subida de archivos -->
	<div id="myModal3" class="modal" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="btnCloseModal3" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Paso 3/3: Importar archivos</h4>
				</div>
				<div class="modal-body">
					<h4 class=>Seleccionar archivo</h4>
					<%#= form_tag({controller: 'static_pages', action: 'maps'}, method: 'post', multipart: 'true') do %>
					<div style="margin-top: 20px;">
						<%= file_field_tag :file %>
					</div>
					<%# end %>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal" onclick="changeModalWindow('myModal3','myModal2')" id="btnAtrasModal3">Atrás</a>
					<%= submit_tag "Importar", class: 'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
<% end %>

	<% if @data %>
		<hr>
		<div id="map"></div>
		<script>
			function initMap() {
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 6,
					<% case @tipo %>
					<% when 'roadmap' %>
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					<% when 'satellite' %>
					mapTypeId: google.maps.MapTypeId.SATELLITE,
					<% when 'hybrid' %>
					mapTypeId: google.maps.MapTypeId.HYBRID,
					<% when 'terrain' %>
					mapTypeId: google.maps.MapTypeId.TERRAIN,
					<% end %>
					center: {lat: -34.397, lng: 150.644}
				});
				// Centrar pais
				var pais = "<%= @localizacion %>";
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'address': pais}, function(results, status) {
					if (status === google.maps.GeocoderStatus.OK) {
						map.setCenter(results[0].geometry.location);
					}
				});
				// Agregar Markers & Charts
				<% columna = [] %>
				var datosChart = [];
				<% @data.each_with_index do |row, index| %>
					<% if index == 0 %>
						<% (row.size - 1).times do |col| %>
							<% columna.push(row[col+1]) %>
						<% end %>
					<% else %>
						// agregar Marker
						addMarker("<%= row[0] %>" + pais, map, <%= index %>);
						// generar valores del chart
						datosChart[<%= index %>] = [
							//eje coordenadas xy
							['-', '-',],
							<% (row.size - 1).times do |col| %>
								<% if row[col+1] %>
									<% unless row[col+1] == 0 %>
										["<%= columna[col] %>",  <%= row[col+1] %>],
									<% end %>
								<% end %>
							<% end %>
						];
						// dibujar chart
						setTimeout(function() {
							drawChart(<%= index %>, "<%= @titulo %>", datosChart[<%= index %>]);
						}, 3000)
					<% end %>
				<% end %>
			}

			function addMarker(ciudad, mapa, id) {
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'address': ciudad}, function(results, status) {
					if (status === google.maps.GeocoderStatus.OK) {
						var marker = new google.maps.Marker({
							map: mapa,
							position: results[0].geometry.location,
							clickable: true
						});

						var infowindow = new google.maps.InfoWindow({
							content: '<div id="content'+ id +'" style="width: 250px; height: 160px;"></div>'
						});

						//infowindow.open(marker.get('map'), marker);

						marker.addListener('click', function(e) {
							infowindow.open(marker.get('map'), marker);
							$("#content"+id).append($("#marker"+ id));
						});
					}
				});
			}
			window.onload = initMap;
		</script>
	<% end %>

	<div class="mapasTemp hide"></div>

	<!-- Agregar Mapas -->
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart(id, titulo, datosChart) {
			var data = google.visualization.arrayToDataTable(datosChart);
			var options = {
				title: titulo
			};
			$('.mapasTemp').append('<div id="marker'+ id +'" style="width: 250px; height: 160px;"></div>');
			<% case @grafico %>
			<% when 'columnchart' %>
			var chart = new google.visualization.ColumnChart(document.getElementById('marker' + id));
			<% when 'barchart' %>
			var chart = new google.visualization.BarChart(document.getElementById('marker' + id));
			<% when 'piechart' %>
			var chart = new google.visualization.PieChart(document.getElementById('marker' + id));
			<% when 'linechart' %>
			var chart = new google.visualization.LineChart(document.getElementById('marker' + id));
			<% end %>

			chart.draw(data, options);
		}
	</script>
</div>
