<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 align="center" class="panel-title">Datos personales</h3>
    </div>
    <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label "nombre" %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label "nombre_de_usuario", style: "margin-top: 15px;"%><br />
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label "email", style: "margin-top: 15px;"%><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label "contraseña", style: "margin-top: 15px;" %> <i>(Dejar en blanco si no desea realizar este cambio)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "confirmar_contraseña", style: "margin-top: 15px;" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "contraseña_actual", style: "margin-top: 15px;"%> <i>(Introduzca su contraseña actual para confirmar los cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Guardar cambios", :class => "btn btn-success btn-primary", style: "margin-top: 20px;"%>
        </div>
        <% end %>
    </div>    
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 align="center" class="panel-title">Borrar cuenta</h3>
    </div>
    <div class="panel-body">
      <p>¿Quieres borrar tu cuenta? <%= button_to "Borrar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete,  :class => "btn btn-danger"%></p>
    </div>
</div>

      <%= link_to "Atrás", :back, :class => "btn btn-default", style: "margin-top: 25px; margin-left: 670px;"%>
