<div class="container">
	<div class="jumbotron">
		<h3>Mis Mapas</h3>
		<hr>
		<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>Título</th>
	      <th>Gráfico</th>
	      <th>País</th>
	      <th>Tipo</th>
	      <td></td>
	    </tr>
	  </thead>
	  <tbody>
    	<% @maps.each do |mapa|%>
    		<tr>
					<td><%= mapa.titulo %></td>
					<td><%= mapa.grafico %></td>
					<td><%= mapa.localizacion %></td>
					<td><%= mapa.tipo %></td>
					<td>
						<%= link_to 'ver', {:controller => "maps", :action => "show", :id => mapa.id }, class: 'btn btn-primary', style: 'padding: 6px' %>
						<%= link_to 'eliminar', {:controller => "maps", :action => "delete", :id => mapa.id }, data: { confirm: '¿Está seguro de eliminar el registro?' }, class: 'btn btn-danger', style: 'padding: 6px' %>
					</td>
				</tr>
			<% end %>
	  </tbody>
	  </table>
	</div>
</div>
